{% extends 'CadyUserBundle::Default/layout.html.twig' %}
{% block header %}{{parent()}}{% endblock %}
{% block body %}
<div class="navigation navbar">
			
			<div class="row">
				<div class="navbar">
					<div class="container main">
	 
					<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
					<!-- Be sure to leave the brand out there if you want it shown -->
	 
					<!-- Everything you want hidden at 940px or less, place within here -->
						<div class="nav-collapse collapse">
						<!-- .nav, .navbar-search, .navbar-form, etc -->
							<ul class="sf-menu">
								<li class="deeper parent current"><a href="{{path('cady_user')}}">Page d'accueil</a></li>
								
								<li class="deeper parent dropdown">
									<a href="{{path('categorieglob')}}" class="dropdown-toggle" data-toggle="dropdown">
										Catégorie
									</a>
									<ul class="dropdown-menu">
                                                                                  {% render "CadyUserBundle:Categorie:categoriListe" %} 
                                                                            {% for categorie in categories %} 
										<li><a href="{{path('categorie',{'id':categorie.idcategorie})}}">{{categorie.nom}}</a></li>
                                                                                {% endfor%}
										
									</ul>
								</li>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										Promotions
									</a>
									<ul class="dropdown-menu">
										<li><a href="kid.html">Dresses</a></li>
										<li><a href="product_details_kid.html">Product Details</a></li>
									</ul>
								</li>
								
									
								
							</ul>
							<div class="search">
								<input type="search" name="search" placeholder="search">
									<button class="search_btn">
										<img alt="" src="{{asset('bundles/cadyuser/images/icon_search.png')}}">
									</button>
							</div>

						</div>
					
					</div>
				</div>
				
			</div>
			
		</div>
		
		<div class="main_content">

			<div class="container main" id="main-slide">
				<div id="wrapper">
					<div class="slide-content">
						<div class="bounce-slider" id="first">
							<ul>
								<li>
									<p class="bounce-desc right-side"><span>Meilleurs qualitée de Légumes et Fruits <br/> Hmmmmm C'est fraiche!!!</span></p>
									<img src="{{asset('bundles/cadyuser/images/slide1.png')}}" alt="image 1"/>
								</li>
								<li>
									<p class="bounce-desc left-side"><span>Votres Petit Déjeuner<br/> est ici </span></p>
									<img src="{{asset('bundles/cadyuser/images/slide2.png')}}" alt="image 2"/>
								</li>
								<li>
									<p class="bounce-desc left-side"><span>Meilleues prix<br/> Profitez!!</span></p>
									<img src="{{asset('bundles/cadyuser/images/slide3.png')}}" alt="image 3"/>
								</li>
							</ul>
							<span class="next bounce-nav"></span>	
							<span class="prev bounce-nav"></span>
						</div>
					</div>
				</div>	

			</div>
			<div class="container main">
				<div class="row home-content">
					<div class="span4 feature-content">
						<div id="feature-image_1">
							<img alt="" src="{{asset('imagessweater.png')}}">
						</div>
						<div id="feature-post-content_1">
							<ul>
								<li id="feature-post-content-title_1">Sweater</li>
								<li>Up to</li>
								<li><p id="feature-post-content-discount_1">40%</p><p>off</p></li>
							</ul>
							<ul>
								<li><button class="shop-now">Shop Now</button></li>
							</ul>
						</div>
					</div>
					<div class="span4 feature-content">
						<div id="feature-image_2">
							<img alt="" src="images/feature-content/scarf.png">
						</div>
						<div id="feature-post-content_2">
							<ul>
								<li id="feature-post-content-title_2">Scarf</li>
								<li>Up to</li>
								<li><p id="feature-post-content-discount_2">40%</p><p>off</p></li>
							</ul>
							<ul>
								<li><button class="shop-now">Shop Now</button></li> 
							</ul>
						</div>
					</div>
					<div class="span4 feature-content">
						<div id="feature-image_3">
							<img alt="" src="images/feature-content/dress.png">
						</div>
						<div id="feature-post-content_3">
							<ul>
								<li id="feature-post-content-title_3">Dress</li>
								<li>Up to</li>
								<li><p id="feature-post-content-discount_3">40%</p><p>off</p></li>
							</ul>
							<ul>
								<li><button class="shop-now">Shop Now</button></li> 
							</ul>
						</div>
					</div>					
				</div>			
				
			</div>
			<div class="container main" id="first-carousel-slide">
				<div class="row list_work">
					<h2 class="title-wrap">
						<span>Nouveaux Produits</span>
					</h2>
					<div class="line"></div>
					<ul id="mycarousel" class="jcarousel-skin-tango item da-thumbs">
						<li class="span3 new-product"> 
							<div class="new-product-image">
								
								<a href="#"><img src="{{asset('bundles/caduuser/images/01.jpg')}}" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="{{asset('images/new-product/shoping-info/cart-image.png')}}"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="{{asset('images/new-product/shoping-info/like-img.png')}}"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">
								<div class="new"></div>							
								<a href="#"><img src="images/new-product/02.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="{{asset('bundles/cadyuser/images/cart-image.png')}}"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="{{asset('bundles/cadyuser/images/like-img.png')}}"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">	
								<a href="#"><img src="images/new-product/03.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="{{asset('bundles/cadyuser/images/cart-image.png')}}"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="{{asset('bundles/cadyuser/images/like-img.png')}}"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">
								<div class="sell"></div>
								<a href="#"><img src="images/new-product/04.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">	
								<a href="#"><img src="images/new-product/01.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">	
								<a href="#"><img src="images/new-product/02.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">	
								<a href="#"><img src="images/new-product/03.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>
						<li class="span3 new-product"> 
							<div class="new-product-image">	
								<a href="#"><img src="images/new-product/04.jpg" alt="" /></a>
							</div>	
							<div class="new-product-info">	
								<div>
									<div class="new-product-price">$500</div>
									<div class="new-product-bg">
										<div class="newE-product-cart_like">
											<div class="new-product-cart_like">
												<div class="new-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
												<div class="new-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
											</div>
										</div>
										<div class="new-product-details"><a href="#">Details</a></div>
									</div>			
								</div>
							</div>
							<div class="new-product-content">
								<div class="new-product-title">
									<a href="#"><p>New Modern Dresses</p></a>
								</div>
								<div class="new-product-content">
									<p>Lorem ipsum dolor sit amet, conse adipiscing elit.</p>
								</div>
							</div>
						</li>						
					</ul>
				</div>	
						
					
			</div>	
			

			<div class="container main" id="second-carousel-slide">
				<div class="row">
				<div class="span8 p_product">
					<div class="list_work">
						<h2 class="title-wrap">
							<span>Popular Products</span>
						</h2>
						<div class="line"></div>
						<div class="slider2 popular_product">
							<ul class="row slide popular_product_wrap-left">
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/1.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">nouvel arrivage</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/2.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">New Modern Dresses</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="row slide popular_product_wrap-left">
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/3.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">New Modern Dresses</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/4.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">New Modern Dresses</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="row slide popular_product_wrap-left">
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/1.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">New Modern Dresses</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/2.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">New Modern Dresses</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="row slide popular_product_wrap-left">
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/3.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">New Modern Dresses</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
								<li class="span4 popular_pro">
									<div class="popular_pro_image">	
										<img alt="" src="images/popular-product/4.png">
									</div>
									<div class="popular_pro_info">
										<p class="popular_pro_title">Nouveautés</p>
										<p class="popular_pro_content">Lorem ipsum dolor sit amet conse adipising elit. Eliam nutro polos.</p>
										<div class="popular-product-info">	
											<div>
												<div class="popular-product-price">$500</div>
												<div class="popular-product-bg">
													<div class="popular-product-cart_like">
														<div class="popular-product-cart_like">
															<div class="popular-product-cart"><a href="#"><img alt="" src="images/new-product/shoping-info/cart-image.png"></a></div>
															<div class="popular-product-like"><a href="#"><img alt="" src="images/new-product/shoping-info/like-img.png"></a></div>
														</div>
													</div>
													<div class="popular-product-details"><a href="#">Details</a></div>
												</div>			
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
	
					</div>
					<br/>
				</div>
				<div class="span4 feature_product">
					<div class="list_work">
						<h2 class="title-wrap">
							<span>Les plus vendus</span>
						</h2>
						<div class="line"></div>
						<div class="fslide">
							<ul class="bxslider">
								<li class="feature_pro">
									<div class="feature_pro_image">	
										<img alt="" src="images/feature-product/1.png">
									</div>
									<div class="feature_pro_info">
										<p class="feature_pro_title">New Modern Dresses</p>
										<p class="feature_pro_content">Lorem ipsum dolor sit amet conse adipising elit.</p>
										<button class="feature_pro_price">$500</button>
									</div>									
								</li>
								<li class="feature_pro">
									<div class="feature_pro_image">	
										<img alt="" src="images/feature-product/2.png">
									</div>
									<div class="feature_pro_info">
										<p class="feature_pro_title">New Modern Dresses</p>
										<p class="feature_pro_content">Lorem ipsum dolor sit amet conse adipising elit.</p>
										<button class="feature_pro_price">$500</button>
									</div>									
								</li>
								<li class="feature_pro">
									<div class="feature_pro_image">	
										<img alt="" src="images/feature-product/3.png">
									</div>
									<div class="feature_pro_info">
										<p class="feature_pro_title">New Modern Dresses</p>
										<p class="feature_pro_content">Lorem ipsum dolor sit amet conse adipising elit.</p>
										<button class="feature_pro_price">$500</button>
									</div>									
								</li>
								<li class="feature_pro">
									<div class="feature_pro_image">	
										<img alt="" src="images/feature-product/1.png">
									</div>
									<div class="feature_pro_info">
										<p class="feature_pro_title">New Modern Dresses</p>
										<p class="feature_pro_content">Lorem ipsum dolor sit amet conse adipising elit.</p>
										<button class="feature_pro_price">$500</button>
									</div>									
								</li>
								<li class="feature_pro">
									<div class="feature_pro_image">	
										<img alt="" src="images/feature-product/2.png">
									</div>
									<div class="feature_pro_info">
										<p class="feature_pro_title">New Modern Dresses</p>
										<p class="feature_pro_content">Lorem ipsum dolor sit amet conse adipising elit.</p>
										<button class="feature_pro_price">$500</button>
									</div>									
								</li>
								<li class="feature_pro">
									<div class="feature_pro_image">	
										<img alt="" src="images/feature-product/3.png">
									</div>
									<div class="feature_pro_info">
										<p class="feature_pro_title">New Modern Dresses</p>
										<p class="feature_pro_content">Lorem ipsum dolor sit amet conse adipising elit.</p>
										<button class="feature_pro_price">$500</button>
									</div>									
								</li>
							</ul>
						</div>

					</div>
				</div>
				</div>
			</div>	
		</div>
			
		<div class="contact_info">
			<div class="container main">
				<ul class="row">
					<li class="follow-us span4">
						<div class="follow-social">Retrouver nous sur:</div>
						<div class="social-icon">
							<ul>
								<li class="fb">
									<a href="#"><img alt="" src="images/social/facebook.png"></a>
								</li>
								<li class="tw">
									<a href="#"><img alt="" src="images/social/twitter.png"></a>
								</li>
								<li class="rss">
									<a href="#"><img alt="" src="images/social/rss.png"></a>
								</li>
								
							</ul>
						</div>
					</li>
					<li class="span4">
					<div class="free-shipping">
						<div class="free-shipping-wrap">
							<div class="free-shipping-image">
								<img alt="" src="images/social/shiping-truck.png">
							</div>
							<div class="free-shipping-info">
								<div id="free-shipping-info-title">
									Livraison gratuite
								</div>
								<div id="free-shipping-info">
									A partir de 299DT
								</div>
							</div>
						</div>	
					</div>	
					</li>
					<li class="contact-no span4">
						<div class="contact-no-wrap">
							<div class="contact-no-image">
								<img alt="" src="images/social/telephone.png">
							</div>
							<div class="contact-no-info">
								<div id="contact-no-info-title">
									Commande en ligne
								</div>
								<br/>
								<div id="contact-no-info">
									<p>Tel:</p>
									<p id="nb">71 800 900</p>
								</div>
							</div>
						</div>
					</li>
				</ul>	
			</div>

		</div>
		
                                                                        {% endblock %}
                        
      
{% block footer %}{{parent()}}{% endblock %} 